*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background: white;
    box-shadow: 0px 1px 20px gray;
}

.header_main{
    display: flex;
}
.header_cont{
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 14px 0;
    justify-content: space-between;
}
.header_tabl{
    display: flex;
}
.main_item{
    list-style: none;
}
.main_list{
    text-decoration: none;
    margin: 42px;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
}
.main_list:hover{
    border-bottom: 2px solid #FF9900;
}
.main_list:focus{
    border:  2px solid #FF9900;
}
.main_list:active{
    border: none;
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
}
.main{
    width: 90%;
    margin: auto;
}
.main_cont{
    background: url(/img/low-angle-photo-of-balconies-2462015\ 1.jpg)no-repeat;
    height: 100vh;
}
.headline{
    color: white;
    display: flex;
}
.text{
    color: white;
    
}